claude-session/current-workflow.json
{"updatedAt":"2026-02-01T21:59:15.624Z","createdAt":"2026-02-01T21:59:15.624Z","id":"WXCmcegHUvwDpu4o","name":"Context Manager (Trend Monitoring)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"context-manager","responseMode":"lastNode","options":{}},"id":"aa1b2c3d-4e5f-6789-0abc-def123456789","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,400]},{"parameters":{"jsCode":"const payload = $input.item.json;\nconst event = payload.event || {};\nconst text = event.text || payload.text || '';\nconst channel = event.channel || payload.channel || '';\nconst ts = event.ts || payload.ts || '';\n\nif (event.bot_id || payload.bot_id) {\n  return { skip: true };\n}\n\nfunction sanitizeFilename(name) {\n  return name.toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-').replace(/-+/g, '-').trim();\n}\n\nlet commandType = 'unknown';\nlet projectName = '';\nlet description = '';\nlet content = '';\n\nconst lines = text.split('\\n');\nconst firstLine = lines[0] || '';\n\nif (/^hot topic:/i.test(firstLine)) {\n  commandType = 'hot_topic';\n  description = text.replace(/^hot topic:\\s*/i, '').trim();\n}\nelse if (/^new project:/i.test(firstLine)) {\n  commandType = 'new_project';\n  const match = text.match(/^new project:\\s*(.+?)(?:\\n([\\s\\S]*))?$/i);\n  if (match) {\n    projectName = match[1].trim();\n    content = match[2]?.trim() || '';\n  }\n}\nelse if (/^update\\s+/i.test(firstLine)) {\n  const match = text.match(/^update\\s+(.+?):\\s*([\\s\\S]+)$/i);\n  if (match) {\n    commandType = 'update_project';\n    projectName = match[1].trim();\n    content = match[2].trim();\n  }\n}\nelse if (/^transcript:/i.test(firstLine)) {\n  const match = text.match(/^transcript:\\s*(.+?)(?:\\n([\\s\\S]*))?$/i);\n  if (match) {\n    commandType = 'transcript';\n    projectName = match[1].trim();\n    content = match[2]?.trim() || text;\n  }\n}\n\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\nconst timestamp = now.toISOString().replace('T', ' ').split('.')[0];\n\nreturn {\n  commandType,\n  projectName,\n  description,\n  content,\n  filename: projectName ? sanitizeFilename(projectName) : '',\n  dateStr,\n  timestamp,\n  originalText: text,\n  channel,\n  threadTs: ts\n};"},"id":"bb2c3d4e-5f67-8901-2bcd-ef0234567890","name":"Parse Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.commandType }}","rightValue":"hot_topic","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hot_topic"},{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.commandType }}","rightValue":"new_project","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"new_project"}]},"options":{"fallbackOutput":"extra"}},"id":"cc3d4e5f-6789-0123-4def-567890abcdef","name":"Route by Command","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[600,400]},{"parameters":{"command":"=ssh -o StrictHostKeyChecking=no root@192.168.1.18 'if [ ! -s /context/hot_topics.md ]; then echo \"# Hot Topics\" > /context/hot_topics.md; echo \"\" >> /context/hot_topics.md; fi; echo \"- **{{ $json.dateStr }}:** {{ $json.description }}\" >> /context/hot_topics.md'"},"id":"dd4e5f67-8901-2345-6789-0abcdef12345","name":"Add Hot Topic","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[800,300]},{"parameters":{"command":"=ssh -o StrictHostKeyChecking=no root@192.168.1.18 'echo \"# Project: {{ $json.projectName }}\n\n**Status:** Active\n**Last Updated:** {{ $json.dateStr }}\n\n## Summary\n{{ $json.content || \"TODO: Add summary\" }}\" > /context/briefs/{{ $json.filename }}.md'"},"id":"ee5f6789-0123-4567-89ab-cdef01234567","name":"Create New Project","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[800,450]},{"parameters":{"jsCode":"const input = $input.item.json;\nlet message = '';\n\nif (input.commandType === 'hot_topic') {\n  message = '✅ Added hot topic';\n} else if (input.commandType === 'new_project') {\n  message = `✅ Created brief: ${input.filename}.md`;\n}\n\nreturn { ...input, message };"},"id":"11890123-4567-89ab-cdef-012345678901","name":"Format Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,375]},{"parameters":{"jsCode":"const input = $input.item.json;\nconst message = '❌ Command not recognized';\nreturn { ...input, message };"},"id":"22901234-5678-9abc-def0-123456789012","name":"Format Unknown","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,550]},{"parameters":{"method":"POST","url":"https://hooks.slack.com/services/PLACEHOLDER","sendBody":true,"specifyBody":"json","jsonBody":"={ \"text\": $json.message }","options":{}},"id":"33012345-6789-abcd-ef01-234567890123","name":"Post to Slack","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,450]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Message","type":"main","index":0}]]},"Parse Message":{"main":[[{"node":"Route by Command","type":"main","index":0}]]},"Route by Command":{"main":[[{"node":"Add Hot Topic","type":"main","index":0}],[{"node":"Create New Project","type":"main","index":0}],[{"node":"Format Unknown","type":"main","index":0}]]},"Add Hot Topic":{"main":[[{"node":"Format Success","type":"main","index":0}]]},"Create New Project":{"main":[[{"node":"Format Success","type":"main","index":0}]]},"Format Success":{"main":[[{"node":"Post to Slack","type":"main","index":0}]]},"Format Unknown":{"main":[[{"node":"Post to Slack","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"52297409-1458-4dd4-918a-739b201ce82d","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-02-01T21:59:15.629Z","createdAt":"2026-02-01T21:59:15.629Z","role":"workflow:owner","workflowId":"WXCmcegHUvwDpu4o","projectId":"0IGvwbGbGwb51x0j","project":{"updatedAt":"2025-11-17T19:06:16.242Z","createdAt":"2025-11-17T19:02:16.256Z","id":"0IGvwbGbGwb51x0j","name":"Kyle Schultz <kyle.e.schultz@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"dca8b909-af0a-4c21-b5a4-8d113a458c2e","projectRelations":[{"updatedAt":"2025-11-17T19:02:16.256Z","createdAt":"2025-11-17T19:02:16.256Z","userId":"dca8b909-af0a-4c21-b5a4-8d113a458c2e","projectId":"0IGvwbGbGwb51x0j","user":{"updatedAt":"2026-02-01T21:51:15.000Z","createdAt":"2025-11-17T19:02:15.184Z","id":"dca8b909-af0a-4c21-b5a4-8d113a458c2e","email":"kyle.e.schultz@gmail.com","firstName":"Kyle","lastName":"Schultz","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-17T19:06:41.201Z","personalization_survey_n8n_version":"1.119.2","companyType":"personal","reportedSource":"other","reportedSourceOther":"TickTok"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"DEeMZK8Hf4IT76Cf","userActivatedAt":1763867227320,"npsSurvey":{"responded":true,"lastShownAt":1768705854669}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-01","isPending":false}}]}}],"tags":[],"activeVersion":null}