claude-session/slash-command-ssh.json
{
  "name": "Context Manager (Trend Monitoring)",
  "nodes": [
    {
      "parameters": {
        "path": "context-manager",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "aa1b2c3d-4e5f-6789-0abc-def123456789",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack slash command payload\nconst payload = $input.item.json;\n\n// Slack slash commands send form data\nconst command = payload.command || '';\nconst text = payload.text || '';\nconst userName = payload.user_name || '';\nconst channelName = payload.channel_name || '';\nconst responseUrl = payload.response_url || '';\n\n// Helper function to sanitize filename\nfunction sanitizeFilename(name) {\n  return name.toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-').replace(/-+/g, '-').trim();\n}\n\n// Initialize result\nlet commandType = 'unknown';\nlet projectName = '';\nlet description = '';\nlet content = '';\n\n// Parse based on slash command\nif (command === '/interests') {\n  commandType = 'interests';\n  description = text.trim();\n}\nelse if (command === '/newproject') {\n  commandType = 'new_project';\n  const lines = text.split('\\n');\n  projectName = lines[0]?.trim() || '';\n  content = lines.slice(1).join('\\n').trim();\n}\n\n// Get current date\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\nconst timestamp = now.toISOString().replace('T', ' ').split('.')[0];\n\nreturn {\n  commandType,\n  projectName,\n  description,\n  content,\n  filename: projectName ? sanitizeFilename(projectName) : '',\n  dateStr,\n  timestamp,\n  userName,\n  channelName,\n  responseUrl,\n  originalCommand: command,\n  originalText: text\n};"
      },
      "id": "bb2c3d4e-5f67-8901-2bcd-ef0234567890",
      "name": "Parse Slash Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "interests",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "interests"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "new_project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_project"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cc3d4e5f-6789-0123-4def-567890abcdef",
      "name": "Route by Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "command": "=if [ ! -s /context/hot_topics.md ]; then echo \"# Hot Topics\" > /context/hot_topics.md; echo \"\" >> /context/hot_topics.md; echo \"Leadership concerns, themes, and priorities.\" >> /context/hot_topics.md; echo \"\" >> /context/hot_topics.md; fi; echo \"- **{{ $json.dateStr }}:** {{ $json.description }}\" >> /context/hot_topics.md; echo \"SUCCESS\""
      },
      "id": "dd4e5f67-8901-2345-6789-0abcdef12345",
      "name": "Add Interest",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "sshPassword": {
          "id": "pQkFmzmMspTqPeNi",
          "name": "AI Box SSH"
        }
      }
    },
    {
      "parameters": {
        "command": "=if [ -f /context/briefs/{{ $json.filename }}.md ]; then echo \"ERROR: Brief already exists\"; exit 1; fi; cat > /context/briefs/{{ $json.filename }}.md << 'EOFBRIEF'\n# Project: {{ $json.projectName }}\n\n**Status:** Active\n**Last Updated:** {{ $json.dateStr }}\n\n## Summary\n{{ $json.content || \"TODO: Add summary\" }}\n\n## My Role\nTODO: Define role\n\n## Key Stakeholders\nTODO: List stakeholders\n\n## Current Phase\nTODO: Describe current phase\n\n## Open Questions / Blockers\nTODO: List questions\n\n## Leadership Visibility\nTODO: Describe visibility\nEOFBRIEF\nchmod 644 /context/briefs/{{ $json.filename }}.md; echo \"SUCCESS\""
      },
      "id": "ee5f6789-0123-4567-89ab-cdef01234567",
      "name": "Create New Project",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [800, 450],
      "credentials": {
        "sshPassword": {
          "id": "pQkFmzmMspTqPeNi",
          "name": "AI Box SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nlet message = '';\n\nif (input.commandType === 'interests') {\n  message = `✅ Added interest to /context/hot_topics.md`;\n} else if (input.commandType === 'new_project') {\n  message = `✅ Created brief: /context/briefs/${input.filename}.md`;\n}\n\nreturn { text: message, response_type: 'ephemeral' };"
      },
      "id": "11890123-4567-89ab-cdef-012345678901",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 375]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst message = `❌ Unknown command: ${input.originalCommand}`;\nreturn { text: message, response_type: 'ephemeral' };"
      },
      "id": "22901234-5678-9abc-def0-123456789012",
      "name": "Format Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "33012345-6789-abcd-ef01-234567890123",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 450]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Parse Slash Command", "type": "main", "index": 0}]]
    },
    "Parse Slash Command": {
      "main": [[{"node": "Route by Command", "type": "main", "index": 0}]]
    },
    "Route by Command": {
      "main": [
        [{"node": "Add Interest", "type": "main", "index": 0}],
        [{"node": "Create New Project", "type": "main", "index": 0}],
        [{"node": "Format Unknown", "type": "main", "index": 0}]
      ]
    },
    "Add Interest": {
      "main": [[{"node": "Format Success", "type": "main", "index": 0}]]
    },
    "Create New Project": {
      "main": [[{"node": "Format Success", "type": "main", "index": 0}]]
    },
    "Format Success": {
      "main": [[{"node": "Respond to Slack", "type": "main", "index": 0}]]
    },
    "Format Unknown": {
      "main": [[{"node": "Respond to Slack", "type": "main", "index": 0}]]
    }
  },
  "settings": {}
}
